.bokeh-background{
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0; left: 0;
  height: 100vh; width: 100vw;
  z-index: -2;

      &:after{
          content: '';
          position: absolute;
          left: 0; right: 0;
          top: 0; bottom: 0;
          // background: linear-gradient(to right,  #000 0%,#06373E 53%,#000 100%);
          background: linear-gradient(to right,  #000 0%,#191422 53%,#000 100%);
          z-index: -1;
      }
}


// Animate Bubbles
$particleSize: 25vmin;
$animationDuration: 26s;
$amount: 20;

.bokeh-background > span {
  width: $particleSize;
  height: $particleSize;

  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  $colors: (
    #221c2f,
    #2a2634,
    #221c2f
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 2s + 30s;
      animation-delay: random(($animationDuration + 20s) * 10) / 20 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.45) * $particleSize * 0.16;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
      
      // box-shadow: -50vmin ​0 4.43472vmin rgba(255,255,255, 0.6)
    }
  }
}

@keyframes move {
  10%{
    transform: translate3d(0, 0, 1px) rotate(0) scale(.25);
  }
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
  }
}