.bokeh-background {
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.bokeh-background:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(53%, #191422), to(#000));
  background: linear-gradient(to right, #000 0%, #191422 53%, #000 100%);
  z-index: -1;
}

.bokeh-background > span {
  width: 25vmin;
  height: 25vmin;
  border-radius: 25vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bokeh-background > span:nth-child(1) {
  color: #221c2f;
  top: 49%;
  left: 2%;
  -webkit-animation-duration: 50.6s;
          animation-duration: 50.6s;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  -webkit-transform-origin: -24vw -21vh;
          transform-origin: -24vw -21vh;
  -webkit-box-shadow: -50vmin 0 3.57983vmin currentColor;
          box-shadow: -50vmin 0 3.57983vmin currentColor;
}

.bokeh-background > span:nth-child(2) {
  color: #2a2634;
  top: 75%;
  left: 10%;
  -webkit-animation-duration: 66.4s;
          animation-duration: 66.4s;
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
  -webkit-transform-origin: 16vw 1vh;
          transform-origin: 16vw 1vh;
  -webkit-box-shadow: -50vmin 0 3.6948vmin currentColor;
          box-shadow: -50vmin 0 3.6948vmin currentColor;
}

.bokeh-background > span:nth-child(3) {
  color: #221c2f;
  top: 86%;
  left: 24%;
  -webkit-animation-duration: 72s;
          animation-duration: 72s;
  -webkit-animation-delay: -17.3s;
          animation-delay: -17.3s;
  -webkit-transform-origin: -22vw -15vh;
          transform-origin: -22vw -15vh;
  -webkit-box-shadow: -50vmin 0 4.65099vmin currentColor;
          box-shadow: -50vmin 0 4.65099vmin currentColor;
}

.bokeh-background > span:nth-child(4) {
  color: #2a2634;
  top: 58%;
  left: 44%;
  -webkit-animation-duration: 63.4s;
          animation-duration: 63.4s;
  -webkit-animation-delay: -12.2s;
          animation-delay: -12.2s;
  -webkit-transform-origin: -18vw -23vh;
          transform-origin: -18vw -23vh;
  -webkit-box-shadow: 50vmin 0 4.38223vmin currentColor;
          box-shadow: 50vmin 0 4.38223vmin currentColor;
}

.bokeh-background > span:nth-child(5) {
  color: #221c2f;
  top: 63%;
  left: 67%;
  -webkit-animation-duration: 75.2s;
          animation-duration: 75.2s;
  -webkit-animation-delay: -14.45s;
          animation-delay: -14.45s;
  -webkit-transform-origin: -12vw -1vh;
          transform-origin: -12vw -1vh;
  -webkit-box-shadow: 50vmin 0 4.0967vmin currentColor;
          box-shadow: 50vmin 0 4.0967vmin currentColor;
}

.bokeh-background > span:nth-child(6) {
  color: #221c2f;
  top: 58%;
  left: 16%;
  -webkit-animation-duration: 64.8s;
          animation-duration: 64.8s;
  -webkit-animation-delay: -22.35s;
          animation-delay: -22.35s;
  -webkit-transform-origin: 11vw 8vh;
          transform-origin: 11vw 8vh;
  -webkit-box-shadow: 50vmin 0 2.47069vmin currentColor;
          box-shadow: 50vmin 0 2.47069vmin currentColor;
}

.bokeh-background > span:nth-child(7) {
  color: #221c2f;
  top: 64%;
  left: 28%;
  -webkit-animation-duration: 57.4s;
          animation-duration: 57.4s;
  -webkit-animation-delay: -1.65s;
          animation-delay: -1.65s;
  -webkit-transform-origin: -3vw 3vh;
          transform-origin: -3vw 3vh;
  -webkit-box-shadow: -50vmin 0 3.07962vmin currentColor;
          box-shadow: -50vmin 0 3.07962vmin currentColor;
}

.bokeh-background > span:nth-child(8) {
  color: #221c2f;
  top: 88%;
  left: 9%;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-delay: -19.25s;
          animation-delay: -19.25s;
  -webkit-transform-origin: 18vw -22vh;
          transform-origin: 18vw -22vh;
  -webkit-box-shadow: -50vmin 0 4.93624vmin currentColor;
          box-shadow: -50vmin 0 4.93624vmin currentColor;
}

.bokeh-background > span:nth-child(9) {
  color: #2a2634;
  top: 93%;
  left: 64%;
  -webkit-animation-duration: 51.4s;
          animation-duration: 51.4s;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  -webkit-transform-origin: -5vw 22vh;
          transform-origin: -5vw 22vh;
  -webkit-box-shadow: -50vmin 0 3.88062vmin currentColor;
          box-shadow: -50vmin 0 3.88062vmin currentColor;
}

.bokeh-background > span:nth-child(10) {
  color: #221c2f;
  top: 39%;
  left: 78%;
  -webkit-animation-duration: 54.2s;
          animation-duration: 54.2s;
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
  -webkit-transform-origin: 23vw 11vh;
          transform-origin: 23vw 11vh;
  -webkit-box-shadow: 50vmin 0 4.87926vmin currentColor;
          box-shadow: 50vmin 0 4.87926vmin currentColor;
}

.bokeh-background > span:nth-child(11) {
  color: #221c2f;
  top: 86%;
  left: 68%;
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  -webkit-transform-origin: 6vw 23vh;
          transform-origin: 6vw 23vh;
  -webkit-box-shadow: 50vmin 0 3.29664vmin currentColor;
          box-shadow: 50vmin 0 3.29664vmin currentColor;
}

.bokeh-background > span:nth-child(12) {
  color: #221c2f;
  top: 18%;
  left: 48%;
  -webkit-animation-duration: 68.8s;
          animation-duration: 68.8s;
  -webkit-animation-delay: -20.5s;
          animation-delay: -20.5s;
  -webkit-transform-origin: -7vw -6vh;
          transform-origin: -7vw -6vh;
  -webkit-box-shadow: -50vmin 0 5.57131vmin currentColor;
          box-shadow: -50vmin 0 5.57131vmin currentColor;
}

.bokeh-background > span:nth-child(13) {
  color: #221c2f;
  top: 18%;
  left: 19%;
  -webkit-animation-duration: 40.8s;
          animation-duration: 40.8s;
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
  -webkit-transform-origin: -20vw -5vh;
          transform-origin: -20vw -5vh;
  -webkit-box-shadow: -50vmin 0 4.21681vmin currentColor;
          box-shadow: -50vmin 0 4.21681vmin currentColor;
}

.bokeh-background > span:nth-child(14) {
  color: #2a2634;
  top: 70%;
  left: 91%;
  -webkit-animation-duration: 73.6s;
          animation-duration: 73.6s;
  -webkit-animation-delay: -8.5s;
          animation-delay: -8.5s;
  -webkit-transform-origin: 19vw 10vh;
          transform-origin: 19vw 10vh;
  -webkit-box-shadow: -50vmin 0 4.1694vmin currentColor;
          box-shadow: -50vmin 0 4.1694vmin currentColor;
}

.bokeh-background > span:nth-child(15) {
  color: #221c2f;
  top: 23%;
  left: 70%;
  -webkit-animation-duration: 47.8s;
          animation-duration: 47.8s;
  -webkit-animation-delay: -4.95s;
          animation-delay: -4.95s;
  -webkit-transform-origin: 13vw 19vh;
          transform-origin: 13vw 19vh;
  -webkit-box-shadow: 50vmin 0 4.05555vmin currentColor;
          box-shadow: 50vmin 0 4.05555vmin currentColor;
}

.bokeh-background > span:nth-child(16) {
  color: #2a2634;
  top: 99%;
  left: 48%;
  -webkit-animation-duration: 52s;
          animation-duration: 52s;
  -webkit-animation-delay: -6.25s;
          animation-delay: -6.25s;
  -webkit-transform-origin: 10vw 13vh;
          transform-origin: 10vw 13vh;
  -webkit-box-shadow: -50vmin 0 4.13568vmin currentColor;
          box-shadow: -50vmin 0 4.13568vmin currentColor;
}

.bokeh-background > span:nth-child(17) {
  color: #2a2634;
  top: 63%;
  left: 16%;
  -webkit-animation-duration: 43.6s;
          animation-duration: 43.6s;
  -webkit-animation-delay: -14.05s;
          animation-delay: -14.05s;
  -webkit-transform-origin: 8vw 25vh;
          transform-origin: 8vw 25vh;
  -webkit-box-shadow: 50vmin 0 4.67846vmin currentColor;
          box-shadow: 50vmin 0 4.67846vmin currentColor;
}

.bokeh-background > span:nth-child(18) {
  color: #221c2f;
  top: 49%;
  left: 7%;
  -webkit-animation-duration: 43.2s;
          animation-duration: 43.2s;
  -webkit-animation-delay: -14.3s;
          animation-delay: -14.3s;
  -webkit-transform-origin: -19vw 19vh;
          transform-origin: -19vw 19vh;
  -webkit-box-shadow: 50vmin 0 4.94619vmin currentColor;
          box-shadow: 50vmin 0 4.94619vmin currentColor;
}

.bokeh-background > span:nth-child(19) {
  color: #2a2634;
  top: 97%;
  left: 3%;
  -webkit-animation-duration: 72.2s;
          animation-duration: 72.2s;
  -webkit-animation-delay: -8.1s;
          animation-delay: -8.1s;
  -webkit-transform-origin: 20vw -10vh;
          transform-origin: 20vw -10vh;
  -webkit-box-shadow: -50vmin 0 5.58185vmin currentColor;
          box-shadow: -50vmin 0 5.58185vmin currentColor;
}

.bokeh-background > span:nth-child(20) {
  color: #221c2f;
  top: 27%;
  left: 37%;
  -webkit-animation-duration: 73.4s;
          animation-duration: 73.4s;
  -webkit-animation-delay: -17.25s;
          animation-delay: -17.25s;
  -webkit-transform-origin: -21vw -1vh;
          transform-origin: -21vw -1vh;
  -webkit-box-shadow: -50vmin 0 4.25028vmin currentColor;
          box-shadow: -50vmin 0 4.25028vmin currentColor;
}

@-webkit-keyframes move {
  10% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
            transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
            transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
  }
}

@keyframes move {
  10% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
            transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
            transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
  }
}
/*# sourceMappingURL=Bubble.css.map */