.bokeh-background {
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.bokeh-background:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(53%, #191422), to(#000));
  background: linear-gradient(to right, #000 0%, #191422 53%, #000 100%);
  z-index: -1;
}

.bokeh-background > span {
  width: 25vmin;
  height: 25vmin;
  border-radius: 25vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bokeh-background > span:nth-child(1) {
  color: #2a2634;
  top: 94%;
  left: 57%;
  -webkit-animation-duration: 48.6s;
          animation-duration: 48.6s;
  -webkit-animation-delay: -17.15s;
          animation-delay: -17.15s;
  -webkit-transform-origin: -11vw 11vh;
          transform-origin: -11vw 11vh;
  -webkit-box-shadow: 50vmin 0 3.84216vmin currentColor;
          box-shadow: 50vmin 0 3.84216vmin currentColor;
}

.bokeh-background > span:nth-child(2) {
  color: #221c2f;
  top: 96%;
  left: 99%;
  -webkit-animation-duration: 59.8s;
          animation-duration: 59.8s;
  -webkit-animation-delay: -8.15s;
          animation-delay: -8.15s;
  -webkit-transform-origin: -22vw 6vh;
          transform-origin: -22vw 6vh;
  -webkit-box-shadow: 50vmin 0 5.3249vmin currentColor;
          box-shadow: 50vmin 0 5.3249vmin currentColor;
}

.bokeh-background > span:nth-child(3) {
  color: #221c2f;
  top: 85%;
  left: 89%;
  -webkit-animation-duration: 41.4s;
          animation-duration: 41.4s;
  -webkit-animation-delay: -1.65s;
          animation-delay: -1.65s;
  -webkit-transform-origin: -2vw 23vh;
          transform-origin: -2vw 23vh;
  -webkit-box-shadow: 50vmin 0 2.03702vmin currentColor;
          box-shadow: 50vmin 0 2.03702vmin currentColor;
}

.bokeh-background > span:nth-child(4) {
  color: #221c2f;
  top: 28%;
  left: 71%;
  -webkit-animation-duration: 36.6s;
          animation-duration: 36.6s;
  -webkit-animation-delay: -21.9s;
          animation-delay: -21.9s;
  -webkit-transform-origin: -19vw 12vh;
          transform-origin: -19vw 12vh;
  -webkit-box-shadow: -50vmin 0 3.30074vmin currentColor;
          box-shadow: -50vmin 0 3.30074vmin currentColor;
}

.bokeh-background > span:nth-child(5) {
  color: #221c2f;
  top: 43%;
  left: 15%;
  -webkit-animation-duration: 71.2s;
          animation-duration: 71.2s;
  -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s;
  -webkit-transform-origin: -16vw 12vh;
          transform-origin: -16vw 12vh;
  -webkit-box-shadow: 50vmin 0 3.08216vmin currentColor;
          box-shadow: 50vmin 0 3.08216vmin currentColor;
}

.bokeh-background > span:nth-child(6) {
  color: #221c2f;
  top: 50%;
  left: 14%;
  -webkit-animation-duration: 56.8s;
          animation-duration: 56.8s;
  -webkit-animation-delay: -5.65s;
          animation-delay: -5.65s;
  -webkit-transform-origin: 16vw 12vh;
          transform-origin: 16vw 12vh;
  -webkit-box-shadow: -50vmin 0 5.34354vmin currentColor;
          box-shadow: -50vmin 0 5.34354vmin currentColor;
}

.bokeh-background > span:nth-child(7) {
  color: #221c2f;
  top: 29%;
  left: 47%;
  -webkit-animation-duration: 58.2s;
          animation-duration: 58.2s;
  -webkit-animation-delay: -16.3s;
          animation-delay: -16.3s;
  -webkit-transform-origin: -10vw -9vh;
          transform-origin: -10vw -9vh;
  -webkit-box-shadow: -50vmin 0 2.93656vmin currentColor;
          box-shadow: -50vmin 0 2.93656vmin currentColor;
}

.bokeh-background > span:nth-child(8) {
  color: #221c2f;
  top: 53%;
  left: 56%;
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -13.35s;
          animation-delay: -13.35s;
  -webkit-transform-origin: 11vw 0vh;
          transform-origin: 11vw 0vh;
  -webkit-box-shadow: -50vmin 0 4.67494vmin currentColor;
          box-shadow: -50vmin 0 4.67494vmin currentColor;
}

.bokeh-background > span:nth-child(9) {
  color: #2a2634;
  top: 11%;
  left: 99%;
  -webkit-animation-duration: 77.2s;
          animation-duration: 77.2s;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform-origin: -15vw -21vh;
          transform-origin: -15vw -21vh;
  -webkit-box-shadow: -50vmin 0 4.78206vmin currentColor;
          box-shadow: -50vmin 0 4.78206vmin currentColor;
}

.bokeh-background > span:nth-child(10) {
  color: #221c2f;
  top: 23%;
  left: 52%;
  -webkit-animation-duration: 44.8s;
          animation-duration: 44.8s;
  -webkit-animation-delay: -5.25s;
          animation-delay: -5.25s;
  -webkit-transform-origin: -14vw 14vh;
          transform-origin: -14vw 14vh;
  -webkit-box-shadow: 50vmin 0 2.66602vmin currentColor;
          box-shadow: 50vmin 0 2.66602vmin currentColor;
}

.bokeh-background > span:nth-child(11) {
  color: #221c2f;
  top: 70%;
  left: 15%;
  -webkit-animation-duration: 74.8s;
          animation-duration: 74.8s;
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
  -webkit-transform-origin: 20vw -15vh;
          transform-origin: 20vw -15vh;
  -webkit-box-shadow: -50vmin 0 3.99546vmin currentColor;
          box-shadow: -50vmin 0 3.99546vmin currentColor;
}

.bokeh-background > span:nth-child(12) {
  color: #221c2f;
  top: 100%;
  left: 27%;
  -webkit-animation-duration: 78.8s;
          animation-duration: 78.8s;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  -webkit-transform-origin: -16vw 11vh;
          transform-origin: -16vw 11vh;
  -webkit-box-shadow: 50vmin 0 5.59798vmin currentColor;
          box-shadow: 50vmin 0 5.59798vmin currentColor;
}

.bokeh-background > span:nth-child(13) {
  color: #221c2f;
  top: 4%;
  left: 50%;
  -webkit-animation-duration: 32.6s;
          animation-duration: 32.6s;
  -webkit-animation-delay: -12.2s;
          animation-delay: -12.2s;
  -webkit-transform-origin: 13vw -14vh;
          transform-origin: 13vw -14vh;
  -webkit-box-shadow: 50vmin 0 3.47634vmin currentColor;
          box-shadow: 50vmin 0 3.47634vmin currentColor;
}

.bokeh-background > span:nth-child(14) {
  color: #221c2f;
  top: 59%;
  left: 14%;
  -webkit-animation-duration: 33.4s;
          animation-duration: 33.4s;
  -webkit-animation-delay: -17.75s;
          animation-delay: -17.75s;
  -webkit-transform-origin: -21vw 10vh;
          transform-origin: -21vw 10vh;
  -webkit-box-shadow: 50vmin 0 2.22895vmin currentColor;
          box-shadow: 50vmin 0 2.22895vmin currentColor;
}

.bokeh-background > span:nth-child(15) {
  color: #221c2f;
  top: 77%;
  left: 27%;
  -webkit-animation-duration: 52s;
          animation-duration: 52s;
  -webkit-animation-delay: -22.75s;
          animation-delay: -22.75s;
  -webkit-transform-origin: 14vw -22vh;
          transform-origin: 14vw -22vh;
  -webkit-box-shadow: -50vmin 0 2.02171vmin currentColor;
          box-shadow: -50vmin 0 2.02171vmin currentColor;
}

.bokeh-background > span:nth-child(16) {
  color: #221c2f;
  top: 31%;
  left: 26%;
  -webkit-animation-duration: 78s;
          animation-duration: 78s;
  -webkit-animation-delay: -10.9s;
          animation-delay: -10.9s;
  -webkit-transform-origin: 13vw 7vh;
          transform-origin: 13vw 7vh;
  -webkit-box-shadow: -50vmin 0 3.54529vmin currentColor;
          box-shadow: -50vmin 0 3.54529vmin currentColor;
}

.bokeh-background > span:nth-child(17) {
  color: #221c2f;
  top: 90%;
  left: 85%;
  -webkit-animation-duration: 73.8s;
          animation-duration: 73.8s;
  -webkit-animation-delay: -8.55s;
          animation-delay: -8.55s;
  -webkit-transform-origin: -1vw 1vh;
          transform-origin: -1vw 1vh;
  -webkit-box-shadow: 50vmin 0 2.25649vmin currentColor;
          box-shadow: 50vmin 0 2.25649vmin currentColor;
}

.bokeh-background > span:nth-child(18) {
  color: #2a2634;
  top: 12%;
  left: 66%;
  -webkit-animation-duration: 42.4s;
          animation-duration: 42.4s;
  -webkit-animation-delay: -9.35s;
          animation-delay: -9.35s;
  -webkit-transform-origin: -18vw 0vh;
          transform-origin: -18vw 0vh;
  -webkit-box-shadow: 50vmin 0 4.29328vmin currentColor;
          box-shadow: 50vmin 0 4.29328vmin currentColor;
}

.bokeh-background > span:nth-child(19) {
  color: #221c2f;
  top: 82%;
  left: 34%;
  -webkit-animation-duration: 68.4s;
          animation-duration: 68.4s;
  -webkit-animation-delay: -4.75s;
          animation-delay: -4.75s;
  -webkit-transform-origin: 19vw -9vh;
          transform-origin: 19vw -9vh;
  -webkit-box-shadow: -50vmin 0 3.04415vmin currentColor;
          box-shadow: -50vmin 0 3.04415vmin currentColor;
}

.bokeh-background > span:nth-child(20) {
  color: #221c2f;
  top: 13%;
  left: 10%;
  -webkit-animation-duration: 41.8s;
          animation-duration: 41.8s;
  -webkit-animation-delay: -10.35s;
          animation-delay: -10.35s;
  -webkit-transform-origin: -5vw 22vh;
          transform-origin: -5vw 22vh;
  -webkit-box-shadow: -50vmin 0 5.44999vmin currentColor;
          box-shadow: -50vmin 0 5.44999vmin currentColor;
}

@-webkit-keyframes move {
  10% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
            transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
            transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
  }
}

@keyframes move {
  10% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
            transform: translate3d(0, 0, 1px) rotate(0) scale(0.25);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
            transform: translate3d(0, 0, 1px) rotate(360deg) scale(1.5);
  }
}
/*# sourceMappingURL=Bubble.css.map */